*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
/* navbar start */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: #1d4e89;
  justify-content: space-around;
  color: #fff;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid #adbc9f;
}

.brand {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  font-size: 1.2rem;
}

/* hamburger menu */

.menu-toggle {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
}

/* navbar end */

/* main start */
main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10rem;
  gap: 1.5rem;
}

.content-wrapper {
  display: flex;
}

.content {
  color: #333333;
  display: flex;
  align-items: center;
  flex: 1 1 50%; /* Setengah lebar main, 50% */
  padding-bottom: 10rem;
}

/* .content-description {
  flex: 1 1;
} */

.title {
  margin-block: 1rem;
  font-size: 3.5rem;
}

.content-description p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.content-description button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 999px;
  margin-block-start: 1rem;
  background-color: #1d4e89;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.content-description button:hover {
  border: 3px solid #1d4e89;
  background-color: transparent;
  color: #1d4e89;
}

.content-image {
  display: flex;
}

.content-image img {
  width: 100%;
  margin: auto;
  border-radius: 15px;
}

aside {
  flex: 1 1 40%;
  margin: auto;
  padding-bottom: 7rem;
}

/*----jobs section start----*/
.jobs,
.post-job,
.contact-form {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.jobs h2 {
  color: #1d4e89;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2rem;
}

.jobs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.job {
  width: calc(100% / 2);
  flex: 0 0 calc(33.33% - 20px);
  padding: 25px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 30px 60px rgba(0, 26, 255, 0.1);
  text-decoration: none;
  color: #1d4e89;
}

.job-header,
.job-footer {
  display: flex;
  align-items: center;
}

.job-logo {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.job-meta {
  margin-left: 13px;
}

.job-title {
  font-size: 18px;
  margin: 0 0 5px 0;
  color: #000;
}

.job-company {
  margin: 0;
  font-size: 14px;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

.job-description {
  margin: 17px 0;
  color: rgba(0, 0, 0, 0.8);
  line-height: 26px;
}

.job-divider {
  margin: 25px 0;
  border-color: rgba(0, 0, 0, 0.05);
}

.job-tag {
  padding: 5px 15px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.07);
  color: #000;
}

.job-company {
  font-weight: 500;
}

.job-salary {
  margin-left: auto;
  font-size: 14px;
  color: #000;
  font-weight: 700;
}

.job-header,
.job-meta,
.job-title,
.job-company {
  color: #1d4e89;
}

.job:hover {
  background-color: #1d4e89;
  transition: all 0.3s;
}

.job:hover .job-title,
.job:hover .job-salary {
  color: #fff;
}

.job:hover .job-company,
.job:hover .job-description {
  color: rgba(255, 255, 255, 0.8);
}

.job:hover .job-divider {
  border-color: rgba(255, 255, 255, 0.15);
}

.job:hover .job-tag {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

/*----jobs section end----*/

/* post job section start */
.post-job {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  cursor: pointer;
}

.title-post {
  display: flex;
  padding: 16px 29px 0px 12px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.title-post h3 {
  color: #1d4e89;
  font-size: 2rem;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.button-1 {
  display: flex;
  padding: 3px 4px 3px 8px;
  align-items: center;
  gap: 2px;
  border-radius: 4px;
  border: 1px solid #1d4e89;
}

.button-1:hover {
  background-color: #fff;
  color: #000;
}

.input {
  display: flex;
  padding: 0px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.input h4 {
  color: #1d4e89;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

#job-title {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 500%;
}

.form-group {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 6px;
}

.selection {
  display: flex;
  padding: 0px 12px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.selection h3 {
  align-self: stretch;
  color: #1d4e89;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.chip-group {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.chip {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #1d4e89;
  color: #fff;
}

.chip:hover {
  background-color: #1d4e89;
  color: #fff;
  font-size: 1.2rem;
}

.button {
  display: flex;
  padding: 0px 12px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.primary,
.secondary {
  display: flex;
  padding: 10px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid #1d4e89;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
}

.primary:hover,
.secondary:hover {
  background-color: #1d4e89;
  color: #fff;
}

/* post job end */

/* section contact start */
.contact-form {
  width: 100%;
  margin-inline: auto;
}

.contact-form h2 {
  margin-bottom: 20px;
  color: #1d4e89;
  font-size: 2rem;
  font-weight: 700;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: #1d4e89;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background: #1d4e89;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  color: #1d4e89;
  background-color: #fff;
}

.contact-info {
  background: #fff;
  padding: 20px;
}

.contact-info h2 {
  margin-bottom: 20px;
  color: #333;
}

.contact-info p {
  margin-bottom: 10px;
  color: #333;
}

.social-links {
  margin-top: 10px;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}
/* section contact end */

article {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 5rem 4rem;
  background-color: #fff;
  margin-bottom: 5%;
}

article h2 {
  margin-bottom: 1rem;
}

article ol li {
  margin-bottom: 1rem;
}

article ol li span {
  font-weight: bold;
}

/* main end */

#footer {
  background-color: #1d4e89;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/*media queryyy*/

/*Laptop */
@media (max-width: 992px) {
  .content-image img {
    width: 100%;
    margin: auto;
  }

  .title {
    font-size: 2rem;
  }

  .jobs-list {
    display: flex;
    flex-direction: column;
  }

  .job {
    width: 100%;
  }

  .jobs {
    margin: auto;
  }
}

/*Tablet*/
@media screen and (max-width: 688px) {
  nav ul {
    width: 50%;
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  .title {
    font-size: 3rem;
  }

  .content-wrapper {
    flex-direction: column-reverse;
  }

  .content-image img {
    width: 100%;
    margin: auto;
  }

  .jobs {
    padding: 10px;
    margin: 5px;
    padding-top: 20%;
  }

  .jobs-list {
    display: flex;
    flex-wrap: wrap;
  }

  .job {
    flex: 0 0 calc(33.33% - 20px);
  }
}

@media screen and (min-width: 577px) {
  .menu-toggle {
    display: none;
  }
}

/*Mobile*/
@media screen and (max-width: 576px) {
  nav {
    height: 10%;
  }

  nav ul {
    flex-wrap: wrap;
    column-gap: 0.1rem;
    display: none;
  }

  .content-wrapper {
    flex-direction: column-reverse;
  }

  .content-image img {
    width: 100%;
    margin: auto;
  }

  aside {
    position: static;
  }

  .jobs,
  .post-job,
  .contact-form {
    padding-top: 8rem;
  }

  nav ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #1d4e89;
    z-index: 999;
  }

  nav ul.active li {
    padding: 10px;
    text-align: center;
  }
}
